*{
    margin: 0;
}


#nav{
    background-image: linear-gradient(to left,black ,rgb(9, 9, 54),rgba(0, 0, 0, 0.764),black);
height: 6vh;
}

.navcontainer{
    display: flex;
    flex-direction: row;   
}

.navcontainer li a{
    text-decoration: none;
    color: azure;
}

.navcontainer btn{
    margin: 1vh;
    width: 10vw;

}
.navitems{
    display: inline-block;
    width: 25vw ;
    margin: 1vw 5vw;
    text-align: center;
    justify-content: center;
}
.top-header h1{
    text-align: center;
    justify-content: center;
    height: 15vh;
    color: azure;
    font-size: 600%;
   
}
.top-header{
    background-color: grey;
    box-sizing: border-box;
    padding: 1vh 1vw;
}


#music-content{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    flex-wrap: wrap;

}
.image-container{
    height: 250px;
    width: 250px;
    overflow: hidden;
}

.item-details{
    display: flex;
    margin: 8px;
    align-items: center;
    justify-content: space-between;
}

.prod-img{
    transform-origin: center center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    transition: ease-in 0.5s;
    filter: brightness(100%);
} 

#merch-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.prod-heading{
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    background-color: brown;
    color: beige;
    border-top-left-radius: 1.2vh;
    border-top-right-radius: 1.2vh;
    
}
#go-to-cart{
    padding-top: 2vh;
    text-align: center;
    justify-content: center;
    height: 5vh;
    background-color: rgb(69, 69, 219);
}

#footer{
    display: flex;
    margin-top: 40px;
    padding: 20px;
    background: #56CCF2;
}


#footer-title{
    text-align: center;
    color: white;
    width: 70%;
    font-size: 50px;
    font-weight: bold;
}
#footer-items{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.container-heading{
    background-color: rgba(60, 85, 196, 0.751);
    text-align: center;
    height: 6vh;
    margin: 1vh auto;
    padding-top: 2vh;
    color: white;
    border-radius: 1.2vh;
  }

  .product{
    background-color:rgb(251, 164, 186);
    margin: 4vh;
    padding: 2vh;
    border-radius: 1vh;
  }

  .link-image{
box-sizing: border-box;
height: 3vh;
cursor: pointer;
  }

  .link-image :hover{
filter: brightness(0.2);
  }

 

  #about img {
height: 20vw;
width: 40vw;
 border-radius: 50%;

  }
  #about h2{
    margin: 5vh;
    padding: 1vh;
    background-color:  #767393;
    text-align: center;
    font-size: xx-large;
    justify-content: center;
    color:  #ffffffc7;;

  }

.latest-album {
    display: block;
    border: 1px solid #56CCF2;
    padding: 15px 30px;
    font-size: 23px;
    font-weight: 200;
    margin: 10px auto;
    background: inherit;
    cursor: pointer;
    color: white;
}

.play-btn {
    cursor: pointer;
    display: block;
    border: 2px solid #56CCF2;
    border-radius: 50%;
    padding: 20px;
    font-size: 30px;
    font-weight: 200;
    margin: 20px auto;
    background: inherit;
    color: #56CCF2;
}
#tours{
    background-image: linear-gradient(to left, rgb(56, 223, 235),rgb(80, 80, 193),rgb(25, 59, 107),rgb(1, 48, 66));
}
#tours .tour-item {
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px;
}
#tours h1{
    justify-content: center;
    text-align: center;
    color: wheat;
    background-image: linear-gradient(to right,black, blue, rgb(51, 49, 94),black,rgb(51, 49, 94),blue,black);
}
.tour-date {
    color: rgb(244, 225, 225);
    width: 12%;
}
.tour-place {
    width: 25%;
    color: #777;
}

.tour-spec-place {
    width: 53%;
    color: rgb(193, 181, 238);
}
.buy-btn {
    width: 20%;
    background: #20424b;
    color: rgb(168, 222, 242);
    border: none;
    padding: 7px;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* //cart */

#cart{
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
    margin: 0px;
    display: none;
    position: fixed;
    top: 50px;
    height: 95%;
    right: 0;
    min-width: 50%;
    max-width: 800px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(177, 103, 103);
    min-height: 50vh;
    overflow-y: scroll;
    padding-bottom: 2vh;
    margin-bottom: 20vh;
}

#cart-header{
    display: flex;
 justify-content: space-evenly;
}
 .cart-heading-items{
    padding: 1vh 1vw;
    background-color: #5eafc5;
    border-radius: 0.5vh;
    border-bottom: 2px solid black;
 }

 #cart-list{
    list-style-type:none;
 }

 .cart-items{
margin-left: 2vw;
padding: 0;
    display: flex;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    justify-content: center;
    padding-bottom: 2vh;
    border-bottom: 2px solid black;
}

 .cart-item-image{
    margin-top: 10px;
    margin-left: 0;
  border-radius: 2vh;
width: 90px;
margin-right: 15px;
}
 .cart-item-name{
    width: 25%;
    word-wrap: break-word; 
    margin: 10px auto;
    padding: 40px 0;
    justify-content: center;
    text-align: center;
 
    margin-left: 0;
}
 .cart-item-price{
    width: 20%;
    margin: 10px auto;
    padding: 40px 0;

}
 .cart-item-qty{
    margin: 10px auto;
    width: 10%;
    padding: 40px 0;

}

 .cart-remove-btn{
    margin: 50px auto;
    height: 20%;
    width: 20%;
 background-color:black;
 color: wheat;
 cursor: pointer;
 border-radius: 5px;
}

#cart-nav{
    display: flex;
    background-color: #777;
    border-radius: 4px;
    justify-content: space-between;
    padding: 1vh 2vw;
    margin-bottom: 2vh;
}

.pagination{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
}

.pagination button{
    border-radius: 2px;
    border: 2px solid black;
 margin: 0 2rem;
    background-color: antiquewhite;
    width: 2rem;
}

.pagination button:hover,
.pagination button:active
{   cursor: pointer;
    background-color: #767393;
    color: wheat;
}


#orderNow{
justify-content: center;
text-align: center;
margin: 0.5vh auto;
margin-left: 45%;
cursor: pointer;
background-color: #9b94de;
box-shadow: 5px 2.5px 2.5px black;
margin-bottom: 10vh
}
#cartlogo{
color: white;
background-color: #9b94de;
border-radius: 5px;
margin-top: 2px;
height: 25px;
width: 25px;
border: 2px solid white;
}
#logo{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

#logo span{
    text-align: center;
    margin-top: 5px;
margin-right: 10px;
}